body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ededed;
}

.img-header {
    background-color: #F5F5F5;
    margin-top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-header h1 {
    font-size: auto;
}

.img-header img {
    image-resolution: auto;
}

body p {
    border: 50;
}

body button {
    border-radius: 50;
}

body a {
    text-decoration: none;
}

.links {
    display: grid;
    align-items: center; 
    grid-template-columns: 0.7fr 0.7fr 0.7fr 0.7fr;
    column-gap: 5px;
}

.links .index {
    background-color: #d6d6d6;
    text-align: center;
    border-radius: 10px;
}

.links .download {
    background-color: #d6d6d6;
    text-align: center;
    border-radius: 10px;
}

.links .screenshots {
    background-color: #d6d6d6;
    text-align: center;
    border-radius: 10px;
}

.links .marketplace {
    background-color: #d6d6d6;
    text-align: center;
    border-radius: 10px;
}

.links .index:hover {
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff, #debade, #dbc3db, #f0edf0, #e6d8e6, white);
    background-size: 200% 200%;
    transition: background 2.0s ease;
    background-position: 100% 100%;
}

.links .download:hover {
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff, #debade, #dbc3db, #f0edf0, #e6d8e6, white);
    background-size: 200% 200%;
    transition: background 2.0s ease;
    background-position: 100% 100%;
}

.links .screenshots:hover {
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff, #debade, #dbc3db, #f0edf0, #e6d8e6, white);
    background-size: 200% 200%;
    transition: background 2.0s ease;
    background-position: 100% 100%;
}

.links .marketplace:hover {
    background: linear-gradient(45deg, #ff0000, #ff8000, #ffff00, #00ff00, #0000ff, #8000ff, #ff00ff, #debade, #dbc3db, #f0edf0, #e6d8e6, white);
    background-size: 200% 200%;
    transition: background 2.0s ease;
    background-position: 100% 100%;
}